<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>내 점수는 몇 점?</title>
<script type="text/javascript">
function go(){
	for (var i = 0; i < f.elements.length; i++) {
		if(f.elements[i].value == ""){
			alert(f.elements[i].name + " 를 입력하세요");
			f.elements[i].focus();
			return;
		}
	}
}
</script>
</head>
<body>
<form action="/01_servlet/Ex08" method="post">
<p>과연 나는 재수강을 피할 수 있을 것인가.</p>
<p>이름 : <input type="text" name="name" required> </p>
<p>국어 : <input type="number" name="korean" required> 점</p>
<p>영어 : <input type="number" name="english" required> 점</p>
<p>수학 : <input type="number" name="math" required> 점</p>
<input type = "submit" value ="두근두근 계산하기">
</form>
<hr>
<form action="/01_servlet/Ex08" method="post">
<p>과연 나는 재수강을 피할 수 있을 것인가.</p>
<p>이름 : <input type="text" name="name" required> </p>
<p>국어 : <input type="number" name="korean" required> 점</p>
<p>영어 : <input type="number" name="english" required> 점</p>
<p>수학 : <input type="number" name="math" required> 점</p>
<input type = "button" value ="두근두근 계산하기" onclick = "go(this.form)">
</form>
</body>
</html>