<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
</head>
<body>
<form action="/01_servlet/Ex16" method="post">
<fieldset>
<legend>계산기</legend>
<p> 수1 : <input type ="number" name = "s1" required> </p>
<p> 수2 : <input type ="number" name = "s2" required> </p>
<p> 연산자 : 
<input type ="radio" name = "op" value = "+">  + 
<input type ="radio" name = "op" value = "-">  -
<input type ="radio" name = "op" value = "*">  * 
<input type ="radio" name = "op" value = "/">  / 
</p>
<input type = "submit" value = "계산하기">
</fieldset>
	<input type = "hidden" name="cmd" value ="2">
</form>
	
	
</body>
</html>